body {
    background: white ;
    margin: 0;
    padding: 0;
}
nav ul {
    background: rgb(27, 21, 21) ;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 40px;
}
nav ul li {
    display: inline;
    padding: 20px;
    font-size: 24px;
    line-height: 60px;
    height: 60px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: rgb(81, 28, 28);
}
header h1{
    text-align: center;
}
header h2 {
    color:rgb(48, 16, 16);
}
main {
    padding-left: 20px;
    font-size:16px;
}
.my-list img {
    width: 200px;
    height: 180px;
    border-radius: 10%;
    display: block;
    margin: 0 auto 20px;
    }
table {
    border: 1px solid black;
    border-collapse: collapse;
}